#errorCatcher Echo   
   <div class="row-fluid">
   <div class="col-md-12"> 
  	  <p class="footer">
        <i class="fa fa-compass"></i> Latitude: $station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] 
        <i class="fa fa-compass"></i> Longitude: $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]  
        <i class="fa fa-arrows-v"></i> Altitude: $station.altitude <br>
        <i class="fa fa-play-circle"></i> Station software uptime:  $station.uptime 
        <i class="fa fa-play-circle-o"></i> Server uptime: $station.os_uptime
      </p>
    </div>
   </div>