#errorCatcher Echo
            <h1>
            	<span class="prueba">en pruebas<br>sin calibrar</span>
            	<i class="fa fa-sun-o"></i> $station.location<br>
            	<span style="font-size: 20px;">Estaci&oacute;n meteorol&oacute;gica, el $current.dateTime</span> 
            </h1>